*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{

    height:100vh;
    display:flex;           /* thanks to display flex */
    justify-content:center;
    align-items: center;
    background-color: #090808;
}

.clock{
    height: 300px;
    width :300px;
    border-radius: 50%;
    border: 5px solid rgb(27, 32, 32);
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5),
              0 0 20px rgba(255, 237, 237, 0.5),
              0 0 30px rgba(0, 0, 0, 0.5),
              0 0 40px rgba(0, 0, 0, 0.5);


}

#second-hand{
    height:120px;
    width:2px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    border-radius:  2px;
    left:153px;
    bottom:151px;
    opacity: 80%;
    transform-origin:0 100%;            /*  rotate obj about top right axis*/
}

#second-hand::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 150px;
    background: #fff;
    z-index: 12;
    border-radius: 6px 6px 0 0;
  }
#minute-hand{
    height:100px;
    width: 5px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    border-radius:  4px;
    bottom: 158px;
    left:149px;
    transform-origin:0 100%;
}


#hours-hand{
    height: 80px;
    width: 7px;
    background-color:rgb(255, 0, 0);
    position:absolute;
    border-radius:  3px;
    bottom: 147px;
    left: 152px;
    transform-origin:0 100%;
}

#center{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left:145px;
    bottom:145px;

}
